<section class="maincontent-postad">
  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-lg-10 col-lg-offset-1">
              <div class="white-wrapper">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-xs-12">
                              <ol class="breadcrumb">
                                  <li><a routerLink="/">{{"Home" | translate:LangService.language}}</a></li>
                                  <li class="active">{{"Post Your Ad" | translate:LangService.language}}</li>
                              </ol>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-12">
                              <h3>{{"Post Your Ad" | translate:LangService.language}}</h3>
                              <div class="spacer-xs"></div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-12 col-md-8">
                              <form [formGroup]="adForm" (submit)="submitAdForm()" novalidate>
                                  <div class="product-img text-center" ng-show='images.length < 8'>
                                      <div class="image">
                                          <div class="upload-logo">
                                            <input type="file" accept="image/*" (change)="onChangeInputFile($event)">
                                              <button class="btn btn-primary"
                                                  (click)="submitAdImages()">{{ loading ? 'Loading .. '  : 'Upload'}}</button>
                                          </div>
                                      </div>
                                  </div>


                                  <div class="product-img text-center"
                                      *ngFor="let image of uploadedImages">
                                      <div class="image">
                                          <!-- <a href="#" ng-click="delete_image(img.id)"
                                              class="product-crose"><img src="images/product-crose.jpg"
                                                  alt=""></a> -->
                                          <img [src]=" image.image ">
                                      </div>
                                      <div class="radio-box">
                                          <input type="radio" ng-model='img.is_cover' name='is_cover'
                                              class="checkbox-btn" id="ch$index" [checked]="image.is_cover"
                                              (change)='image.is_cover = !image.is_cover'>
                                          <label for="ch$index" class="checkbox-css">Set as
                                              default</label>
                                              {{image.is_cover}}
                                      </div>
                                  </div>

                                  <h4>{{"Ad information" | translate:LangService.language}}</h4>
                                  <div class="row">
                                      <div class="form-group col-xs-12">
                                          <input id='name' type="text" ng-model='ad.name' required
                                              errortip='adForm' formControlName="title"
                                              [placeholder]=" 'Ad title'|translate:LangService.language " />
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="form-group col-xs-12">
                                          <input id='phone' type="text" ng-model='ad.phone' required
                                              errortip='adForm' formControlName='phone'
                                              [placeholder]=" 'Phone'|translate:LangService.language + '+965xxxxxxx'"
                                              ng-pattern='/^[+][0-9]{8,11}$/' />
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="form-group col-xs-12 ">
                                          <select (change)="getGovernorates()" ng-model='ad.country' formControlName='country' required
                                              errortip='adForm' id='country'>
                                              <option value=''> {{"Select Country"|translate:LangService.language}} </option>
                                              <option *ngFor='let country of countries'
                                                  [value]='country.id'> {{country.name_en}}
                                              </option>

                                          </select>
                                      </div>
                                  </div>
                                  <div class="row" ng-if='ad.country'>
                                      <div class="form-group col-xs-12 ">
                                          <select  ng-model='ad.governorate' formControlName='governorate'
                                              errortip='adForm' id='govenorate'>
                                              <option value=''> {{"Select Governorate"|translate:LangService.language}} </option>
                                              <option *ngFor='let governorate of governorates'
                                                  [value]='governorate.id'> {{governorate.name_en}}
                                              </option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="form-group col-xs-12 col-sm-6">
                                          <select (change)="getSubcategory()" formControlName='category' required
                                              errortip='adForm' id='category' ng-change='change_ad_category(ad.category)'>
                                              <option value=''> {{"Select Category"|translate:LangService.language}} </option>
                                              <option *ngFor='let category of categories' [value]='category.slug'> {{category.name}} </option>
                                          </select>
                                      </div>
                                      <div class="form-group col-xs-12 col-sm-6" ng-if='ad.category && ad.category.available_subcategories.length > 0'>
                                          <select (change)="getSubSubCategory()" formControlName='subcategory' ng-model='ad.subcategory' required
                                              errortip='adForm' ng-disabled='!ad.category'>
                                                <option value=''> {{"Select Subcategory"|translate}} </option>
                                                <option *ngFor='let subcategory of subCategories' [value]='subcategory.slug'>
                                                   {{subcategory.name}} 
                                                </option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class='row' ng-if='ad.subcategory.available_subcategories.length > 0'>
                                      <div class="form-group col-xs-12">
                                          <select formControlName='sub_subcategory' ng-model='ad.sub_subcategory' required
                                              errortip='adForm'>
                                              <option value=''> {{"Select Sub Subcategory"|translate:LangService.language}} </option>
                                              <option [value]='subSubCategory.slug '
                                                  *ngFor='let subSubCategory of subSubCategories'>
                                                   {{subSubCategory.name}} </option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="row" ng-if='ad.category && !ad.category.is_service'>
                                      <div class="form-group col-xs-12 col-sm-6">
                                          <input id='mileage' type="number" ng-model='ad.mileage'
                                              errortip='adForm' formControlName='mileage'
                                              [placeholder]="'Mileage'|translate:LangService.language " />
                                      </div>
                                      <div class="form-group col-xs-12 col-sm-6">
                                          <select ng-model='ad.year' formControlName='year'
                                              errortip='adForm' id='year'>
                                              <option value=''> {{"Select Year"|translate:LangService.language}} </option>
                                              <option *ngFor='let year of years' [value]='year.id'>{{year.name}} </option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="row" ng-if='ad.category && !ad.category.is_service'>
                                      <div class="form-group col-xs-12 col-sm-6">
                                          <select ng-model='ad.color_exterior' formControlName='color_exterior'
                                              errortip='adForm' id='color_exterior'>
                                              <option value=''> {{"Select Color Exterior"|translate:LangService.language}} </option>
                                              <option *ngFor='let exterior of carExterior'
                                                  [value]='exterior.id '> {{exterior.name_en}}
                                              </option>

                                          </select>
                                      </div>
                                      <div class="form-group col-xs-12 col-sm-6">
                                          <select ng-model='ad.color_interior' formControlName='color_interior'
                                              errortip='adForm' id='color_interior'>
                                              <option value=''> {{"Select Color Interior"|translate:LangService.language}} </option>
                                              <option *ngFor='let enterior of carEnterior'
                                                  [value]='enterior.id '> {{enterior.name_en}}
                                              </option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="row" ng-if='ad.category && !ad.category.is_service'>
                                      <div class="form-group col-xs-12 col-sm-6">
                                          <select ng-model='ad.car_status' formControlName='car_status'
                                              errortip='adForm' id='car_status'>
                                              <option value=''> {{"Select Status"|translate:LangService.language}} </option>
                                              <option *ngFor='let status of carStatus'
                                                  [value]='status.id '> {{status.name_en}}
                                              </option>
                                          </select>
                                      </div>
                                      <div class="form-group col-xs-12 col-sm-6">
                                          <select ng-model='ad.car_import' formControlName='car_import'
                                              errortip='adForm' id='car_import'>
                                              <option value=''> {{"Select Import"|translate:LangService.language}} </option>
                                              <option *ngFor='let import of carImport'
                                                  [value]='import.id '> {{import.name_en}}
                                              </option>

                                          </select>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="form-group col-xs-12">
                                          <input id='price' type="number" step='0.1' min='0.1' formControlName='price'
                                              errortip='adForm' required ng-model='ad.price'
                                              [placeholder]=' "Price (KWD)"|translate:LangService.language '>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="form-group col-xs-12">
                                          <textarea formControlName='description' id='description'
                                              [placeholder]=" 'Description'|translate:LangService.language "
                                              ng-model='ad.description' required errortip='adForm'></textarea>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="form-group col-xs-12">
                                          <h4>{{"Select Ad type:" |translate:LangService.language}}</h4>
                                          <div class="ad-type">
                                              <div class="row">
                                                  <div class="col-xs-12 col-sm-6">
                                                      <label class="text-center">
                                                          <input type="radio" formControlName="paid_featured"
                                                              name="paid_featured" class="adTypeRadio"  [value]='false'>
                                                          <div class="adtype-info adtype-info-free">
                                                              <div class="vmiddle">
                                                                   {{"Free Ad"|translate:LangService.language}}
                                                              </div>
                                                              <div class="checkmark">
                                                                  <i class="fa fa-check" aria-hidden="true"></i>
                                                              </div>
                                                          </div>
                                                      </label>
                                                  </div>
                                                  <div class="col-xs-12 col-sm-6">
                                                      <label>
                                                          <input type="radio" formControlName="paid_featured" name="paid_featured" class="adTypeRadio" ng-model='ad.featured' [value]='true'>
                                                          <div class="adtype-info adtype-info-featured">
                                                               {{"Featured Ad"|translate:LangService.language}}  <br>
                                                              <ul class="list-unstyled">
                                                                  <li>
                                                                      <i class="fa fa-check" aria-hidden="true"></i>
                                                                       {{"Show in first page"|translate:LangService.language}}
                                                                  </li>
                                                                  <li>
                                                                      <i class="fa fa-check" aria-hidden="true"></i>
                                                                       {{"Show in sub-category page"|translate:LangService.language}}
                                                                  </li>
                                                                  <li>
                                                                      <i class="fa fa-check" aria-hidden="true"></i>
                                                                       {{"High priority in search results"|translate:LangService.language}}
                                                                  </li>
                                                              </ul>
                                                              <div class="checkmark">
                                                                  <i class="fa fa-check" aria-hidden="true"></i>
                                                              </div>
                                                          </div>
                                                      </label>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                  {{paid_featured.value}}
                                  <div class='row' *ngIf='paid_featured.value == true'>
                                      <div class="form-group col-xs-12">
                                          <div class="payment-method">
                                              <div class="radio-inline">
                                                  <label>
                                                      <input ng-model='$parent.gateway' type="radio" formControlName="payment_method"
                                                           value='knet'>
                                                      <img src="https://77carsale.com/images/knet_icon.jpg" width="30" alt="">
                                                  </label>
                                              </div>
                                              <div class="radio-inline">
                                                  <label>
                                                      <input ng-model='$parent.gateway' value='visa' type="radio"
                                                          formControlName="payment_method" >
                                                      <img src="https://77carsale.com/images/visa_icon.jpg" width="33" alt="">
                                                  </label>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="row">
                                      <div class="form-group col-xs-12">
                                        <!-- [disabled]='adForm.status == "INVALID"' -->
                                          <button type="submit" class="btn btn-orange btn-lg-postad pull-right"
                                               >{{"Proceed" | translate:LangService.language}}</button>
                                      </div>
                                  </div>

                                  <div class="spacer-sm"></div>
                                  </form>
                              </div>


                          <div class="col-xs-12 col-md-4" ng-show='images.length > 0 && ad.price && ad.name'>
                              <h4 class="margin-top-0">{{"Ad Preview" |translate:LangService.language}}</h4>

                              <div class="card-wrap card-preview">
                                  <div class="img-wrap">
                                    <ng-container *ngFor="let image of uploadedImages">
                                        <img *ngIf="image.is_cover == true" [src]=" image.image " />
                                    </ng-container>
                                     
                                  </div>
                                  <div class="caption-wrap">
                                      <h4> {{title.value}} </h4>
                                      <p> {{price.value}}   {{"KWD"|translate:LangService.language}} </p>
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>
</section>
      <div ng-show='received'>
<div ng-bind-html='raw_html'>
</div>
