
<!-- <ul>
   <li *ngFor="let todo of api">
      todo.id  => todo.title => todo.completed
   </li>
</ul> -->



<app-home-slider></app-home-slider>

<!-- main contents -->
<section id="maincontent" style="background-color: #f4f4f4;">
   <div class="container">
       <div class="row">
           <!-- ======== sidebar ========== -->

           <div class="col-xs-12 col-md-4 col-lg-3 sidebar hidden-md hidden-lg">

               <a href="#" class="btn btn-lg btn-default visible-xs visible-sm cat-trigger" translate>Select a
                   category</a>
               <div class="cat-wrap">

                   <div class="collapse-wrap" ng-repeat='category in DATA.get("_categories")' >
                       <div class="collapse-title" collapsetoggle > <span
                               class="cat-name"> category|localize:"name"  </span>
                       </div>
                       <div class="collapse-detail" ng-if='category.subcategories.length > 0'>
                           <ul class="list-unstyled">
                               <li ng-repeat='subcategory in category.subcategories|orderBy:"order"'>
                                   <a ui-sref="root.subcategory({id:category.slug, sub_id:subcategory.slug})"
                                       ng-if='subcategory.subcategories.length == 0'>
                                        subcategory|localize:"name" </a>
                                   <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                       data-target="#collapseExample subcategory.id " aria-expanded="false"
                                       aria-controls="#collapseExample subcategory.id " ng-if='subcategory.subcategories.length > 0'>
                                        subcategory|localize:"name"  <i class="fa fa-plus"></i>
                                   </button>
                                   <div class="collapse" id="collapseExamplesubcategory.id"
                                       ng-if='subcategory.subcategories.length > 0'>
                                       <div class="card card-body">
                                           <a ui-sref="root.sub_subcategory({id:category.slug, sub_id:subcategory.slug, sub_sub_id:sub_subcategory.slug})"
                                               ng-repeat='sub_subcategory in subcategory.subcategories'>
                                                sub_subcategory|localize:"name" </a>
                                       </div>
                                   </div>
                               </li>
                           </ul>


                       </div>
                   </div> <!-- end each category -->

                   <!-- google ad -->


               </div>

               <div class="spacer-xs"></div>
               <a ui-sref="root.account.create_ad" class="btn btn-block btn-success visible-md visible-lg" translate
                   ng-show='USER.is("loggedin")'>+ Post your ad</a>
               <a href="#" class="btn btn-block btn-success visible-md visible-lg" translate
                   ng-show='!USER.is("loggedin")' ng-click='create_ad_open()'>+ Post your ad</a>

               <div class="google-ad-lg">
                   <a href=" (DATA.get('_home_website_ads')|filter:{place:0})[0].url "><img
                           ng-src=" (DATA.get('_home_website_ads')|filter:{place:0})[0].image "></a>
               </div>
               <div class="ad-banner bg-banner hidden-lg hidden-md" style="padding-bottom: 20px">
                   <img src="../../../assets/images/ads1.jpg">
               </div>
           </div>

           <!-- ======== contents ========== -->
           <div class="col-xs-12 contents">
               <app-featured-ads></app-featured-ads>

               <app-recent-ads></app-recent-ads>

               <div class="spacer-sm"></div>

               <div class="row">
                   <div class="col-xs-12 text-center">
                       <div class="ad-banner bg-banner">
                           <a href=" (DATA.get('_home_website_ads')|filter:{place:1})[0].url "><img
                                   ng-src=" (DATA.get('_home_website_ads')|filter:{place:1})[0].image "></a>
                       </div>
                   </div>
               </div>

           </div>
       </div>
   </div>
</section>
