body{
    font-family: 'Cairo', sans-serif;
}

.input-group-addon{
    border-right: 1px solid rgb(204,204,204) !important;
    border-left: 0 !important;
    padding-right: 14px !important;
}

.error-tip{
    right: auto;
    left: 0;
    margin-left: 0;
}

.noflip{
    direction: ltr;
}
.noflip.input-group .form-control{
    float: left;
}
.noflip .input-group-btn:first-child > .btn,
.noflip .input-group-btn:first-child > .btn-group{
    margin-right: -1px;
    margin-left: auto;
}
.noflip.input-group .form-control:first-child,
.noflip .input-group-addon:first-child, 
.noflip .input-group-btn:first-child > .btn, 
.noflip .input-group-btn:first-child > .btn-group > .btn, 
.noflip .input-group-btn:first-child > .dropdown-toggle, 
.noflip .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), 
.noflip .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.noflip.input-group .form-control:last-child, 
.noflip .input-group-addon:last-child, 
.noflip .input-group-btn:last-child > .btn, 
.noflip .input-group-btn:last-child > .btn-group > .btn, 
.noflip .input-group-btn:last-child > .dropdown-toggle, 
.noflip .input-group-btn:first-child > .btn:not(:first-child), 
.noflip .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.noflip .dropdown-menu{
    text-align: left;
    left: 0; right: auto;
    float: right;
}

/* ------- header --------- */

#header .searchbox .input-group input.form-control,.edit-profile-form .form-control {
    border: 1px solid #ccc;
}
#header .searchbox{
    font-family: 'cairo';
}
#header .searchbox .btn:first-child{
    font-family: 'cairo';
    border-right: 0;
    border-radius: 0;
    font-size: 17px
}
#header .searchbox .input-group input.form-control{
    font-style: normal
}
#header .searchbox .btn img {
    transform: rotate(90deg);
}
.product-count{
    left:20px;
    right:auto;
}
.tp-parallax-wrap{
    right:60px ;
    left: auto !important;

}

.cc-wrap{
    right:0%;
    left:auto;
}
.wht-wrap{
    text-align: right;
}
.collapse-title:after{
    left:0;
    right:auto;
}
.checked{
    left: 0;
    right: auto;
}
select {
    background: #fff url(../images/down.png) no-repeat right;
    background-size: 12px;
    background-position: center left 10px;
}
.jFiler #filer_input{
    left:0 !important;
}
.bcrumb .btn-black .fa-angle-left:before{
    content:"\f105";
}
#header .text-right.post-ad{
    text-align:left !important;
}
#header .text-right.post-ad .btn-success{
    font-family: "cairo";
    font-size: 16px
}

.collapse-detail .btn-link i {
    float: left !important;
}

/* phone verification code*/
.phone-verify-digits{
    direction: ltr !important;
}
.phone-verify-digits .col-xs-2{
    float: left !important;
}

/* ------- menubar --------- */
.list-menu > li{
    float: right;
}
.list-menu > li > a{
    font-size: 15px;
}
.list-menu > li:last-child > a{
    border-right: 1px solid #38383d;
}
.list-menu > li:first-child > a{
    border-right: none;
}

/* ------ ads -------- */
.date-posted-on{
    direction: ltr;
    text-align: right;
}

/* ----- auction -------- */
.table-bid-history td{
    text-align: right;
}
