<section class="section-dotted-layer">
   <div class="container">
       
       <div class="row">
           <div class="col-xs-12">
               <ol class="breadcrumb">
                   <li><a routerLink="/">{{"Home" | translate}}</a></li>
                   <li>{{ pageAdv.page.name }}</li>
               </ol>
           </div>
       </div>
       <div class="row">
           <div class="col-xs-12">
               <div class="heading-dual">
                   <h1>{{ pageAdv.page.name }}</h1>

               </div>
           </div>
       </div>
       <div class="row">
           <div class="col-xs-12">
               <div class="transparent-box about-box" ng-bind-html='pageAdv.page.description'>
               </div>
           </div>
       </div>
       
       <div class="spacer-lg"></div>
       
   </div>
</section>